* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}
.nav-conteiner {
  position: fixed;
  width: 100%;
  height: 3.5em;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 999;
}
.nav-menu {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-menu-img {
  width: 2.5em;
  margin: 0 0.5em 0 1em;
}
.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 1em 0 0;
}
.header-conteiner {
  position: relative;
  width: 100%;
  height: 60em;
  font-size: 1em;
  padding-top: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.header-logo-conteiner {
  width: 25em;
  text-align: center;
}
.header-logo {
  width: 12em;
}
.logo-text {
  font-size: 1.1em;
}
.asegurar {
  color: #39c0e7;
}
.headerCeluChica {
  width: 60em;
}
.headerCeluChico {
  display: none;
  width: 60em;
}
.redes {
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  bottom: 0px;
  margin: 0 1em 1em 0;
}
.redes-imgs {
  width: 4em;
  height: 4em;
}
.section-conteiner {
  width: 100%;
  font-size: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
}
.section-div {
  width: 10em;
  height: 10em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  border-radius: 50%;
}
.section-div-text {
  color: #f1f743;
  text-decoration: none;
}
.nosotros-conteiner {
  position: relative;
  width: 100%;
  height: 45em;
  font-size: 1em;
  padding: 1% 3% 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros {
  min-width: 60%;
}
.nosotros-img {
  width: 4em;
}
.nosotros-texth2 {
  font-size: 3em;
  margin-bottom: 0.2em;
}
.broker {
  color: #ea37ae;
}
.nosotros-texth6 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.nosotros-parraph {
  font-size: 1.2em;
}
.chica_nosotros {
  max-height: 100%;
}
.franja-destacado-conteiner {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}
.franja-destacado-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0 2em 0;
  text-align: center;
}
.franja-text {
  color: #ffff;
  margin-top: 0.7em;
}
.img-grande {
  width: 3em;
}
.img-chica {
  width: 5em;
}
.seguros-conteiner {
  width: 100%;
  font-size: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em 12em 2em 12em;
}
.seguros-conteiner-img {
  width: 10em;
}
.seguros-parraph {
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0 2em 0;
}
.iconos-seguros-img {
  width: 4em;
  margin: 0.5em 0.5em 0.5em 0.5em;
}
.cotiza100 {
  width: 100%;
  font-size: 1em;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 12em;
}
.cotiza100-parraph {
  color: #ffff;
  font-size: 2em;
}
.asesoramos {
  color: #39c0e7;
}
.cotizar {
  width: 10em;
  height: 10em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffff;
  border-radius: 50%;
  margin-top: 2em;
}
.cotizar-text {
  color: #000000;
  font-size: 1em;
  text-decoration: none;
}
.contacto-container {
  position: relative;
  width: 100%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f0f0f0;
  padding-top: 3em;
}
.column1 {
  display: flex;
  flex-direction: column;
}
.column1-div1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.column1-text {
  font-size: 4em;
}
.doble-flecha {
  width: 5em;
  margin-right: 2em;
}
.contact-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 45%;
  margin-top: 2em;
}
.contact-data-img {
  width: 4em;
  margin-right: 1em;
}
.contact-data-text {
  font-size: 2em;
}
.foto-chicos {
  width: 50em;
}
.ngeLogoContacto {
  position: absolute;
  width: 9em;
  bottom: 0px;
  right: 0px;
  margin: 0 2em 2em 0;
  z-index: 9999;
}
.footer-conteiner {
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0 2em 0;
}
.footer-divs {
  display: flex;
  flex-direction: column;
}
.footer-divs {
  font-size: 1em;
}
.footer-img {
  width: 21em;
}
/*-----------------------RESPONSIVE-----------------------*/
@media (max-width: 1680px) {
  .header-conteiner {
    font-size: 0.9em;
  }
  .nosotros-conteiner {
    font-size: 0.8em;
  }
  .seguros-conteiner {
    font-size: 0.7em;
  }
  .contacto-container {
    font-size: 0.8em;
  }
  .footer-conteiner {
    font-size: 0.9em;
  }
}
@media (max-width: 1440px) {
  .header-conteiner {
    font-size: 0.9em;
  }
  .nosotros-conteiner {
    font-size: 0.8em;
  }
  .seguros-conteiner {
    font-size: 0.7em;
  }
  .contacto-container {
    font-size: 0.7em;
  }
  .footer-conteiner {
    font-size: 0.9em;
  }
}
@media (max-width: 1280px) {
  .header-conteiner {
    font-size: 0.85em;
  }
  .nosotros-conteiner {
    font-size: 0.75em;
  }
  .franja-destacado-conteiner {
    font-size: 0.75em;
  }
  .cotiza100 {
    font-size: 0.7em;
  }
  .seguros-conteiner {
    font-size: 0.7em;
  }
  .contacto-container {
    font-size: 0.5em;
  }
  .footer-conteiner {
    font-size: 0.8em;
  }
}
@media (max-width: 960px) {
  .header-conteiner {
    font-size: 0.8em;
  }
  .nosotros-conteiner {
    font-size: 0.6em;
  }
  .seguros-conteiner {
    font-size: 0.6em;
  }
  .franja-destacado-conteiner {
    font-size: 0.7em;
  }
  .cotiza100 {
    font-size: 0.6em;
  }
  .contacto-container {
    font-size: 0.45em;
  }
  .footer-conteiner {
    font-size: 0.6em;
  }
}
@media (max-width: 768px) {
  .nav-conteiner {
    font-size: 0.9em;
  }
  .header-conteiner {
    font-size: 0.7em;
    overflow-x: hidden;
  }
  .section-conteiner {
    font-size: 0.8em;
  }
  .nosotros-conteiner {
    font-size: 0.5em;
  }
  .franja-destacado-conteiner {
    font-size: 0.6em;
  }
  .seguros-conteiner {
    font-size: 0.5em;
  }
  .cotiza100 {
    font-size: 0.5em;
  }
  .contacto-container {
    font-size: 0.3em;
  }
  .footer-conteiner {
    font-size: 0.5em;
  }
}
@media (max-width: 600px) {
  .cotiza100 {
    font-size: 0.6em;
  }
}
@media (max-width: 576px) {
  .nav-conteiner {
    font-size: 0.8em;
  }
  .header-conteiner {
    font-size: 0.7em;
  }
  .headerCeluChica {
    width: 50em;
  }
  .header-logo-conteiner {
    font-size: 1.3em;
  }
  .nosotros-conteiner {
    font-size: 0.4em;
  }
  .franja-destacado-conteiner {
    font-size: 0.45em;
  }
  .seguros-conteiner {
    font-size: 0.4em;
  }
  .cotiza100 {
    font-size: 0.5em;
  }
  .contacto-container {
    font-size: 0.25em;
  }
  .footer-conteiner {
    font-size: 0.4em;
  }
}
@media (max-width: 480px) {
  .nav-conteiner {
    font-size: 0.5em;
    height: 5em;
  }
  .header-logo-conteiner {
    font-size: 1.2em;
  }
  .headerCeluChica {
    display: none;
  }
  .headerCeluChico {
    display: block;
    width: 43em;
  }
  .nosotros-conteiner {
    font-size: 0.3em;
  }
  .franja-destacado-conteiner {
    font-size: 0.35em;
  }
  .seguros-conteiner {
    font-size: 0.3em;
  }
  .seguros-parraph {
    font-size: 2em;
  }
  .cotiza100 {
    font-size: 0.3em;
  }
  .contacto-container {
    font-size: 0.2em;
  }
  .footer-conteiner {
    font-size: 0.3em;
  }
}
@media (max-width: 360px) {
  .nav-conteiner {
    font-size: 0.5em;
  }
  .header-conteiner {
    font-size: 0.6em;
  }
  .headerCeluChico {
    width: 30em;
  }
  .section-div {
    font-size: 0.8em;
  }
  .nosotros-conteiner {
    font-size: 0.3em;
  }
  .franja-destacado-conteiner {
    font-size: 0.3em;
  }
  .seguros-conteiner {
    font-size: 0.3em;
  }
  .cotiza100 {
    font-size: 0.4em;
  }
  .contacto-container {
    font-size: 0.2em;
  }
  .footer-conteiner {
    font-size: 0.2em;
  }
}
@media (max-width: 330px) {
  .nav-conteiner {
    font-size: 0.5em;
  }
  .header-conteiner {
    font-size: 0.5em;
  }
  .headerCeluChico {
    width: 25em;
  }
  .section-div {
    font-size: 0.7em;
  }
  .nosotros-conteiner {
    font-size: 0.2em;
  }
  .franja-destacado-conteiner {
    font-size: 0.25em;
  }
  .seguros-conteiner {
    font-size: 0.25em;
  }
  .cotiza100 {
    font-size: 0.2em;
  }
  .contacto-container {
    font-size: 0.18em;
  }
  .footer-conteiner {
    font-size: 0.1em;
  }
}
/*
Códigos de color:
- Fucsia: #ea37ae
- Turquesa: #39c0e7
- Amarillo: #f1f743
- Gris: #f0f0f0
- Negro: #000000

Google Font:
- Poppins
*/
